.notification {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  background: #fff;
  color: #4e4e4e;
  border-radius: 14px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease-out;
  z-index: 1000;
  min-height: 75px;
  position: fixed;
}

.notification.slide-in {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.notification.slide-out {
  animation-name: slide-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.notification svg {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  color: #ff6262;
}

.notification span {
  width: 220px;
  display: block;
  font-weight: 500;
}

@media (max-width: 767px) {
  .notification {
    width: 97%;
    margin-left: -48.5%;
    left: 50%;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  .notification:active {
    transform: translate(0, 2px);
  }

  @keyframes slide-in {
    0% {
      top: -300px;
    }

    100% {
      top: 10px;
    }
  }

  @keyframes slide-out {
    0% {
      top: 10px;
    }

    100% {
      top: -300px;
    }
  }
}

@media (min-width: 768px) {
  .notification {
    bottom: 20px;
    right: 20px;
    position: fixed;
  }

  .notification:active {
    transform: translate(2px, 2px);
  }

  @keyframes slide-in {
    0% {
      right: -300px;
    }
    100% {
      right: 20px;
    }
  }

  @keyframes slide-out {
    0% {
      right: 20px;
    }
    100% {
      right: -300px;
    }
  }
}
