.itineraries-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 14px 80px rgba(0, 0, 0, 0.2);
  position: relative;
}

.itineraries-container h1 {
  margin: 10px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

.itineraries-container h1 .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-left: 4px;
}

.itineraries {
  background: white;
  margin: 10px;
  border-radius: 10px;
  padding: 0;
}
