@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Pacifico&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;
}

body {
  margin: 0;
  color: #585858;
  background-color: #f7f7f7;
}

body,
button,
input {
  font-family: "Lato", sans-serif;
}

button,
input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input {
  transition: all 0.2s ease-out;
}

input[type="text"] {
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */ /* Konqueror HTML */
  -moz-user-select: text; /* Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: text;
}

#root {
  display: flex;
  justify-content: center;
  padding: 0px 8px;
  margin-top: 18px;
}
