.search-form-container {
  border-radius: 18px;
  box-shadow: 0 14px 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: white;
  position: relative;
}

.search-form-header-overlay,
.search-form-container header {
  height: 255px;
  width: 100%;
}

.search-form-header-overlay {
  position: absolute;
  top: 0;
  background: black;
  opacity: 0.4;
}

.search-form-container header {
  display: flex;
  justify-content: center;
  background: #487ffe;
  color: white;
  flex-direction: column;
  text-align: center;
  background: url("../../static/media/hero.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: 69%;
}

.search-form-container header h1,
.search-form-container header p {
  z-index: 1;
}

.search-form-container header h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 52px;
  letter-spacing: 0px;
  margin: 0;
  margin-top: -85px;
}

.search-form-container header p {
  font-size: 16px;
  margin: 0;
  margin-top: -18px;
  text-transform: uppercase;
}

.search-form-container label {
  display: block;
  font-weight: bold;
}

.search-form-main-container {
  padding: 10px;
  border-radius: 18px;
  margin-top: -20px;
  background: white;
  position: relative;
}

.search-form-inputs-container,
.search-form-submit-container {
  display: flex;
  justify-content: center;
}

.search-form-inputs-container {
  flex-direction: column;
  margin-top: -70px;
}

.search-form-input-container {
  margin: 10px;
  padding: 16px;
  border-radius: 18px;
  background-color: white;
  flex-grow: 1;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.search-form-input-container label {
  margin-bottom: 8px;
  pointer-events: none;
}

.search-form-input-container input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #eaeaea;
  border-radius: 8px;
  font-size: 16px;
}

.search-form-input-container input:focus {
  background-color: white;
  border: 1px solid #aaaaaa;
}

.search-form-input-container ul {
  list-style: none;
  padding: 0px;
  border-radius: 8px;
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  overflow-y: overlay;
  overflow-x: hidden;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  max-height: 300px;
}

.search-form-input-container li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eaeaea;
}

.search-form-input-container li:last-child {
  border: none;
}

.search-form-input-container li:hover {
  background-color: #f0f0f0;
}

.search-form-input-container span {
  display: block;
  color: grey;
  font-size: 12px;
}

.search-form-input-container div {
  position: relative;
}

.search-form-input-container div span {
  position: absolute;
  top: 7px;
  right: 8px;
  text-align: center;
  font-size: 18px;
  width: 24px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.search-form-input-container div span:active {
  background-color: #eaeaea;
}

.search-form-submit-container {
  margin: 10px;
}

.search-form-submit-container button {
  border: none;
  background: #487ffe;
  color: #fff;
  padding: 14px 0px;
  width: 140px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

.search-form-submit-container button:active {
  background: #1a5df9;
}

@media (min-width: 400px) {
  .search-form-header-overlay,
  .search-form-container header {
    height: 260px;
  }

  .search-form-container header h1 {
    font-size: 60px;
  }

  .search-form-container header p {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  .search-form-inputs-container {
    flex-direction: row;
  }

  .search-form-input-container {
    max-width: 47%;
  }

  .search-form-submit-container button {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .search-form-header-overlay,
  .search-form-container header {
    height: 300px;
  }

  .search-form-container header h1 {
    font-size: 72px;
  }

  .search-form-container header p {
    font-size: 20px;
    margin-top: -20px;
  }
}
