.itinerary-summary {
  position: relative;
}

.itinerary-summary div {
  margin-bottom: 12px;
}

.itinerary-summary .MuiSvgIcon-root {
  font-size: 16px;
  display: block;
  margin-top: 2px !important;
}

/* ---------------------------------------------------------------- */

.itinerary-summary-trip {
  display: flex;
  margin-bottom: 12px;
}

.trips-public-transport-line {
  border: 2px solid #d4d4d4;
  border-radius: 6px;
  padding: 0 3px;
  margin-top: -1px;
  margin-left: 3px;
  font-size: 15px;
}

.itinerary-summary-time,
.itinerary-summary-trips {
  font-weight: 700;
}

.itinerary-summary-trips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0 !important;
}

.itinerary-summary-trips .MuiSvgIcon-root.trips-seperator {
  margin: 0 3px;
}

/* ---------------------------------------------------------------- */

.itinerary-summary-first-public-transport,
.itinerary-summary-distance-zones-fares,
.itinerary-summary-distance-zones-fares .MuiSvgIcon-root {
  color: #909090;
  font-size: 14px;
}

.itinerary-summary-first-public-transport {
  margin-bottom: 8px !important;
}

.itinerary-summary-first-public-transport span {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 0 2px;
  font-size: 12px;
}

.itinerary-summary-distance-zones-fares {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
}

.distance-zones-fares-seperator {
  margin: 0 8px;
}

.itinerary-summary-distance-zones-fares .MuiSvgIcon-root {
  margin-top: 1px;
}

.itinerary-summary-distance-zones-fares .itinerary-summary-zones {
  border-radius: 100px;
  background-color: #cacaca;
  color: white;
  font-size: 12px;
  justify-content: center;
  margin: 0;
  margin-right: 4px;
  margin-top: 1px;
  padding: 0 3px;
}

.itinerary-summary-distance-zones-fares .itinerary-summary-zones span {
  padding: 0 3px;
}
